n8n-workflow-scrapedo.json
{
  "name": "Amazon Seller Scraper — Zyte + Custom API",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-e5f6-7890-ab12-ef1234560001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "amazon-scraper-telegram-001",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format: scrape <keywords> <MARKETPLACE> <max>\n// Examples:  scrape furniture ES 20\n//            scrape power tools DE 50\n\nconst msg    = $json.message?.text || '';\nconst chatId = String($json.message?.chat?.id || '');\nconst clean  = msg.replace(/^\\/?(scrape)\\s*/i, '').trim();\n\nconst VALID_MP = ['es','de','fr','it','co.uk','com','ca','mx'];\nconst tokens   = clean.split(/\\s+/);\n\nlet maxPerKeyword = '50';\nlet end = tokens.length;\nif (end > 0 && /^\\d+$/.test(tokens[end - 1])) { maxPerKeyword = tokens[end - 1]; end--; }\n\nlet marketplace = 'es';\nif (end > 0 && VALID_MP.includes(tokens[end - 1].toLowerCase())) { marketplace = tokens[end - 1].toLowerCase(); end--; }\n\nconst keywordRaw = tokens.slice(0, end).join(' ');\nconst keywords   = keywordRaw.includes(',') ? keywordRaw.split(',').map(k => k.trim()).filter(Boolean).join(',') : keywordRaw.trim();\n\nif (!keywords) throw new Error('Format: scrape <keywords> <marketplace> <max>  e.g.  scrape furniture ES 20');\n\nreturn [{ json: { keywords, marketplace, maxPerKeyword, chatId } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "a1b2c3d4-e5f6-7890-ab12-ef1234560000",
      "name": "Parse Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "cfg-01", "name": "keywords",      "value": "={{ $json.keywords }}",            "type": "string" },
            { "id": "cfg-02", "name": "marketplace",   "value": "={{ $json.marketplace }}",          "type": "string" },
            { "id": "cfg-03", "name": "maxPerKeyword", "value": "={{ $json.maxPerKeyword || '50' }}", "type": "string" },
            { "id": "cfg-04", "name": "zyteApiKey",    "value": "4e4bc97062b94f0cb1c01e16575082d6",  "type": "string" },
            { "id": "cfg-05", "name": "scraperUrl",    "value": "http://127.0.0.1:8080",              "type": "string" },
            { "id": "cfg-06", "name": "scraperApiKey", "value": "insider7-ResProx04",                "type": "string" },
            { "id": "cfg-07", "name": "chatId",        "value": "={{ $json.chatId }}",               "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-ab12-ef1234560002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// ── Collect ASINs via Zyte API ───────────────────────────────────────────────\n// IMPORTANT: Always returns ≥1 item so downstream nodes always execute.\n// If 0 ASINs found, returns a sentinel item with __noAsins:true so the\n// pipeline can send a proper Telegram error instead of silently stopping.\n\nconst cfg      = $input.first().json;\nconst key      = cfg.zyteApiKey;\nconst mp       = cfg.marketplace;\nconst kwds     = String(cfg.keywords).split(',').map(k => k.trim()).filter(Boolean);\nconst maxTotal = parseInt(cfg.maxPerKeyword) || 50;\n\nconst DOMAINS = { 'es':'amazon.es','de':'amazon.de','fr':'amazon.fr','it':'amazon.it','co.uk':'amazon.co.uk','com':'amazon.com','ca':'amazon.ca','mx':'amazon.com.mx' };\nconst GEO     = { 'es':'ES','de':'DE','fr':'FR','it':'IT','co.uk':'GB','com':'US','ca':'CA','mx':'MX' };\n\nconst dom  = DOMAINS[mp] || 'amazon.es';\nconst geo  = GEO[mp]     || 'ES';\n\nconst authHeader = 'Basic ' + Buffer.from(key + ':').toString('base64');\nconst seen = new Set();\nconst out  = [];\n\nfor (const kw of kwds) {\n  if (out.length >= maxTotal) break;\n  const searchUrl = `https://www.${dom}/s?k=${encodeURIComponent(kw)}`;\n  console.log(`[ASIN] kw=\"${kw}\"  url=${searchUrl}  collected=${out.length}/${maxTotal}`);\n\n  let foundAsins = [];\n\n  // ── Primary: productList ──\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST', url: 'https://api.zyte.com/v1/extract',\n      headers: { 'Authorization': authHeader, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ url: searchUrl, productList: true, geolocation: geo }),\n    });\n    const pl       = resp.productList;\n    const products = Array.isArray(pl) ? pl\n                   : Array.isArray(pl?.products) ? pl.products\n                   : Array.isArray(pl?.items)    ? pl.items\n                   : [];\n    console.log(`[ASIN] productList: ${products.length} products`);\n    for (const p of products) {\n      // Try structured ASIN field first\n      if (p.asin && /^[A-Z0-9]{10}$/.test(p.asin)) { foundAsins.push(p.asin); continue; }\n      // Extract from URL — /dp/ASIN or /gp/product/ASIN\n      const urls = [p.url, p.canonicalUrl, p.productUrl].filter(Boolean);\n      for (const u of urls) {\n        const m = u.match(/\\/(?:dp|gp\\/product)\\/([A-Z0-9]{10})/);\n        if (m) { foundAsins.push(m[1]); break; }\n      }\n    }\n    foundAsins = [...new Set(foundAsins)];\n    console.log(`[ASIN] productList → ${foundAsins.length} ASINs`);\n  } catch (e) { console.warn(`[ASIN] productList failed: ${e.message}`); }\n\n  // ── Fallback: browserHtml ──\n  if (foundAsins.length === 0) {\n    console.log(`[ASIN] falling back to browserHtml for \"${kw}\"`);\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST', url: 'https://api.zyte.com/v1/extract',\n        headers: { 'Authorization': authHeader, 'Content-Type': 'application/json' },\n        body: JSON.stringify({ url: searchUrl, browserHtml: true, geolocation: geo }),\n      });\n      const html = resp.browserHtml || '';\n      console.log(`[ASIN] browserHtml length=${html.length}`);\n      const s1 = [...html.matchAll(/data-asin=\"([A-Z0-9]{10})\"/g)].map(m => m[1]);\n      const s2 = [...html.matchAll(/\\/(?:dp|gp\\/product)\\/([A-Z0-9]{10})/g)].map(m => m[1]);\n      const s3 = [...html.matchAll(/\"asin\"\\s*:\\s*\"([A-Z0-9]{10})\"/g)].map(m => m[1]);\n      foundAsins = [...new Set([...s1, ...s2, ...s3])];\n      console.log(`[ASIN] browserHtml → s1=${s1.length} s2=${s2.length} s3=${s3.length} unique=${foundAsins.length}`);\n    } catch (e) { console.error(`[ASIN] browserHtml failed: ${e.message}`); }\n  }\n\n  let cnt = 0;\n  for (const asin of foundAsins) {\n    if (out.length >= maxTotal) break;\n    if (seen.has(asin)) continue;\n    seen.add(asin);\n    out.push({ asin, keyword: kw, marketplace: mp, scraperUrl: cfg.scraperUrl, scraperApiKey: cfg.scraperApiKey, chatId: cfg.chatId });\n    cnt++;\n  }\n  console.log(`[ASIN] +${cnt} from \"${kw}\"  total=${out.length}/${maxTotal}`);\n}\n\nconsole.log(`[ASIN] DONE — ${out.length} ASINs`);\n\n// ── CRITICAL: Always return ≥1 item so downstream nodes execute ──\n// When 0 ASINs found, return a sentinel so the pipeline can notify via Telegram.\nif (out.length === 0) {\n  console.warn('[ASIN] 0 ASINs found — returning sentinel for Telegram error notification');\n  return [{ json: {\n    __noAsins:    true,\n    chatId:       cfg.chatId,\n    keywords:     kwds.join(', '),\n    marketplace:  mp,\n    scraperUrl:   cfg.scraperUrl,\n    scraperApiKey: cfg.scraperApiKey,\n  }}];\n}\n\nreturn out.map(r => ({ json: r }));",
        "mode": "runOnceForAllItems"
      },
      "id": "a1b2c3d4-e5f6-7890-ab12-ef1234560003",
      "name": "1 — Collect ASINs (Zyte)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "jsCode": "// Packs ASINs into batches of 50 for the scraper.\n// Handles the __noAsins sentinel from Collect ASINs:\n//   → passes through an empty-asins body so the HTTP Request still fires\n//   → scraper returns {results:[]} for empty asins (no 400 error)\n//   → Parse Response detects __noAsins and sends a Telegram error message.\n\nconst items = $input.all();\n\n// ── Sentinel: Collect ASINs found nothing ────────────────────────────────────\nif (items.length === 1 && items[0].json.__noAsins) {\n  const info = items[0].json;\n  console.log(`[BATCH] No ASINs — passing sentinel through`);\n  return [{ json: {\n    scrapeBody:    { asins: [], marketplace: info.marketplace || 'es' },\n    scraperUrl:    info.scraperUrl    || 'http://127.0.0.1:8080',\n    scraperApiKey: info.scraperApiKey || '',\n    chatId:        info.chatId        || '',\n    marketplace:   info.marketplace   || 'es',\n    batchIndex:    0,\n    totalAsins:    0,\n    __noAsins:     true,\n    __keywords:    info.keywords      || '',\n  }}];\n}\n\nconst BATCH_SIZE = 50;\nconst first      = items[0].json;\nconst mp         = first.marketplace   || 'es';\nconst scraperUrl = first.scraperUrl    || 'http://127.0.0.1:8080';\nconst scraperKey = first.scraperApiKey || '';\nconst chatId     = first.chatId        || '';\n\nconsole.log(`[BATCH] ${items.length} ASINs → marketplace=${mp}`);\n\nconst allAsins = items.map(it => ({\n  asin:          it.json.asin,\n  category:      it.json.keyword || '',\n  category_path: '',\n}));\n\nconst batches = [];\nfor (let i = 0; i < allAsins.length; i += BATCH_SIZE) {\n  const batch = allAsins.slice(i, i + BATCH_SIZE);\n  batches.push({ json: {\n    scrapeBody:    { asins: batch, marketplace: mp },\n    scraperUrl,\n    scraperApiKey: scraperKey,\n    chatId,\n    marketplace:   mp,\n    batchIndex:    batches.length,\n    totalAsins:    items.length,\n    __noAsins:     false,\n  }});\n}\n\nconsole.log(`[BATCH] ${batches.length} batches queued`);\nreturn batches;",
        "mode": "runOnceForAllItems"
      },
      "id": "a1b2c3d4-e5f6-7890-ab12-ef1234560008",
      "name": "2 — Batch ASINs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.scraperUrl + '/scrape-from-asins' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key",     "value": "={{ $json.scraperApiKey }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.scrapeBody) }}",
        "options": {
          "timeout": 1800000
        }
      },
      "id": "a1b2c3d4-e5f6-7890-ab12-ef1234560009",
      "name": "3 — Call Local Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Unpack scraper results → rows for Google Sheets.\n// __noAsins sentinel from Batch ASINs → return one error row for Telegram Reply.\n// NOTE: no __chatId in output — Telegram Reply reads chatId directly from\n//       Parse Telegram Message node, so we don't need to carry it through.\n\nconst items     = $input.all();\nconst scrapedAt = new Date().toISOString();\nconst allRows   = [];\n\n// ── __noAsins sentinel ───────────────────────────────────────────────────────\nconst batchMeta = $('2 — Batch ASINs').first().json;\nif (batchMeta.__noAsins) {\n  const keywords = batchMeta.__keywords || 'unknown';\n  const mp       = batchMeta.marketplace || '';\n  console.warn(`[PARSE] 0 ASINs found for: ${keywords}`);\n  return [{ json: {\n    'Status':      'no_asins_found',\n    'Keyword':     keywords,\n    'Marketplace': mp,\n    'Error':       `No products found on Amazon.${mp} for: \"${keywords}\". Try different keywords.`,\n    'Scraped At':  scrapedAt,\n    '__noAsins':   true,\n  }}];\n}\n\n// ── Normal path ──────────────────────────────────────────────────────────────\nconst mp = batchMeta.marketplace || '';\n\nfor (const it of items) {\n  let raw = it.json;\n\n  if (typeof raw?.body === 'string') {\n    try { raw = JSON.parse(raw.body); } catch(e) { console.error('[PARSE] body parse failed:', e.message); }\n  } else if (typeof raw?.data === 'string') {\n    try { raw = JSON.parse(raw.data); } catch(e) { console.error('[PARSE] data parse failed:', e.message); }\n  } else if (typeof raw === 'string') {\n    try { raw = JSON.parse(raw); } catch(e) { console.error('[PARSE] root parse failed:', e.message); }\n  }\n\n  console.log(`[PARSE] status=${raw?.status} total=${raw?.total} successful=${raw?.successful}`);\n  const results = Array.isArray(raw?.results) ? raw.results : [];\n  if (results.length > 0) console.log(`[PARSE] first: ${JSON.stringify(results[0])}`);\n\n  for (const r of results) {\n    allRows.push({ json: {\n      'ASIN':             r.asin            || '',\n      'Keyword':          r.category        || '',\n      'Marketplace':      r.marketplace     || mp,\n      'Status':           r.status          || '',\n      'Business Name':    r.business_name   || '',\n      'Email':            r.email           || '',\n      'Phone':            r.phone           || '',\n      'VAT Number':       r.vat_number      || '',\n      'Business Address': r.address         || '',\n      'Seller ID':        r.seller_id       || '',\n      'Storefront URL':   r.storefront_url  || '',\n      'Seller Rating':    r.rating          || '',\n      'Error':            r.error           || '',\n      'Scraped At':       scrapedAt,\n    }});\n  }\n\n  if (!results.length && it.json?.error) {\n    allRows.push({ json: { 'Status': 'error', 'Error': JSON.stringify(it.json), 'Scraped At': scrapedAt } });\n  }\n}\n\nconsole.log(`[PARSE] DONE — ${allRows.length} rows`);\nif (!allRows.length) {\n  allRows.push({ json: { 'Status': 'no_results', 'Error': 'Scraper returned 0 results', 'Scraped At': scrapedAt } });\n}\nreturn allRows;",
        "mode": "runOnceForAllItems"
      },
      "id": "a1b2c3d4-e5f6-7890-ab12-ef1234560010",
      "name": "4 — Parse Scraper Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1--2SWzlo9VZ1kZ3NIJ7BX0U0tCV0SsiGkJm4xXHugKQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            { "id": "ASIN",             "displayName": "ASIN",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true,  "removed": false },
            { "id": "Keyword",          "displayName": "Keyword",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "Marketplace",      "displayName": "Marketplace",      "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "Status",           "displayName": "Status",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "Business Name",    "displayName": "Business Name",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "Email",            "displayName": "Email",            "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "Phone",            "displayName": "Phone",            "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "VAT Number",       "displayName": "VAT Number",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "Business Address", "displayName": "Business Address", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "Seller ID",        "displayName": "Seller ID",        "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "Storefront URL",   "displayName": "Storefront URL",   "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "Seller Rating",    "displayName": "Seller Rating",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "Error",            "displayName": "Error",            "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "Scraped At",       "displayName": "Scraped At",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false }
          ]
        },
        "options": {}
      },
      "id": "bb9f1234-cc56-7890-de12-ff3456789012",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1920, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collapse all per-ASIN rows into ONE summary item for a single Telegram message.\nconst items = $input.all();\n\nif (items.length === 1 && items[0].json.__noAsins) {\n  return [{ json: {\n    __noAsins:   true,\n    keyword:     items[0].json.Keyword     || 'unknown',\n    marketplace: items[0].json.Marketplace || '',\n  }}];\n}\n\nconst total   = items.length;\nconst success = items.filter(r => r.json.Status === 'success').length;\nconst sold    = items.filter(r => r.json.Status === 'amazon_sold').length;\nconst errors  = items.filter(r => r.json.Status === 'error').length;\nconst mp      = items[0]?.json.Marketplace || '';\nconst kw      = items[0]?.json.Keyword     || '';\n\nreturn [{ json: { total, success, sold, errors, mp, kw, __noAsins: false } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "a1b2c3d4-e5f6-7890-ab12-ef1234560011",
      "name": "5 — Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Telegram Message').first().json.chatId }}",
        "text": "={{ $json.__noAsins\n  ? `❌ No products found\\n\\nKeyword: \"${$json.keyword}\"\\nMarketplace: amazon.${$json.marketplace}\\n\\nTry different keywords.`\n  : `✅ Done!\\n\\nKeyword: ${$json.kw}\\nMarketplace: amazon.${$json.mp}\\nASINs processed: ${$json.total}\\nSuccess: ${$json.success}\\nAmazon-sold (skipped): ${$json.sold}\\nFailed: ${$json.errors}\\n\\nSaved to Google Sheets ✅` }}",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-e5f6-7890-ab12-ef1234560007",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2400, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[ { "node": "Parse Telegram Message", "type": "main", "index": 0 } ]]
    },
    "Parse Telegram Message": {
      "main": [[ { "node": "Config", "type": "main", "index": 0 } ]]
    },
    "Config": {
      "main": [[ { "node": "1 — Collect ASINs (Zyte)", "type": "main", "index": 0 } ]]
    },
    "1 — Collect ASINs (Zyte)": {
      "main": [[ { "node": "2 — Batch ASINs", "type": "main", "index": 0 } ]]
    },
    "2 — Batch ASINs": {
      "main": [[ { "node": "3 — Call Local Scraper", "type": "main", "index": 0 } ]]
    },
    "3 — Call Local Scraper": {
      "main": [[ { "node": "4 — Parse Scraper Response", "type": "main", "index": 0 } ]]
    },
    "4 — Parse Scraper Response": {
      "main": [[ { "node": "Save to Google Sheets", "type": "main", "index": 0 } ]]
    },
    "Save to Google Sheets": {
      "main": [[ { "node": "5 — Summarize", "type": "main", "index": 0 } ]]
    },
    "5 — Summarize": {
      "main": [[ { "node": "Telegram Reply", "type": "main", "index": 0 } ]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "amazon-zyte-seller-workflow-v1",
  "meta": { "instanceId": "local" }
}
